body{
    background-color: #FAC6C6;
}

h1{
    text-align: center;
    color: red;
}

p{
    font-size: xx-large;
}

#cbl{
    float: left;
}

.csr{
    background-color: aqua;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th {
    background-color: #ccc;
    text-align: center;
  }
  
  td {
    border: 1px solid #ccc;
    padding: 5px;
  }